body{
    color:#e7e8df;

min-height: 1vh;
background-image: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
}

.container-fluid{
    padding: 0 !important;
}
.navbar{
    min-height: 50px;
    font-size: 25px;
    font-weight: 500;
    background-color: #333236;
    padding: 5px 0px 5px 30px;
    margin: 0px;
}
.box-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginbox{
    background-color: #333236;
    min-height: 550px;
    width: 600px;
    border-radius: 20px;
    margin: 50px 0px 0px 0px;
    
}
.head{
    display: flex;
    margin: 50px 0px 40px 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.head small{
    margin-top: 50px;
}
.inputbody{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.inputbody input{
    width: 300px;
    height: 40px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    background-color: #333236;
    color:whitesmoke;
    padding-left: 10px;
    margin-bottom:30px
}
.inputArea{
    display: flex;
    justify-content: left;
    flex-direction: column;
    text-align: left;
}
.inputArea>small{
    position: relative;
    top: -20px;
    color:red;
    font-size:10px;
}

.foot{
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.foot .btn{
    margin-bottom: 25px;
    width: 100px;
}

.foot small{
    margin-bottom: 50px;
}

.foot *:not(label,p){cursor: pointer;}

